/target
/cargo-home
.buildconfig
./config.json
./config.toml
/config.toml
./store.json
/store.json
backup.json
*.json~
start-ra.sh
.flatpak
.vscode
README_wip.md
de.haeckerfelix.Hebbot.json
./report_template.md
/report_template.md
./project_template.md
/project_template.md
./section_template.md
/section_template.md
