{
	"bot_user_id": "@botname:domain.org",
	"bot_password": "supersecurepassword",
	"reporting_room_id": "!roomid:domain.org",
	"admin_room_id": "!adminroomid:domain.org",
	"approval_emoji": "⭕",
	"editors": [
		"@user1:domain.io",
		"@user1:domain.org"
	],
	"sections": [
                {
                        "title": "New projects",
                        "emoji": "⚙"
                },
                {
                        "title": "Updated Apps",
                        "emoji": "🔵"
                },
                {
                        "title": "Interesting Projects",
                        "emoji": "🛰"
                }

	],
	"projects": [
                {
                	"name": "shortwave",
                	"display_name": "Shortwave",
			"description": "{{project}} is an internet radio player that provides access to a database with over 25000 stations.",
                        "repository": "https://gitlab.gnome.org/World/Shortwave",
			"emoji": "📻"
                },
                {
                	"name": "fragments",
                	"display_name": "Fragments",
			"description": "{{project}} is an easy to use BitTorrent client.",
                        "repository": "https://gitlab.gnome.org/World/Fragments",
			"emoji": "↙"
                }
        ]

}
