on:
  push:
    branches: [main]
  pull_request:

name: test

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: FrancisRussell/ferrous-actions@v0.1.0-beta.2
        with:
          command: install-rustup
          profile: minimal
      - uses: FrancisRussell/ferrous-actions@v0.1.0-beta.2
        name: Cargo build
        with:
          command: cargo test
